<form [formGroup]="characterForm" (ngSubmit)="onSave()">
    <input type="text" formControlName="id" class="form-control" placeholder="id heroe">
<div formArrayName="comics">

    
    <h2>Heroes</h2>
    <button type="button" (click)="addComic()">+ añada otro comic</button>
    

    <div *ngFor="let comic of comics.controls; let i=index">
        <!-- The repeated alias template -->
        <label for="alias-{{ i }}">Alias:</label>
        <input id="alias-{{ i }}" type="text" [formControlName]="i">
      </div>
</div>
<button type="submit">guardar</button>

</form>