<div class="container mt-5" *ngIf="character">
    <div class="row">
      <div class="col-md-4">
        <img
          [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
          class="img-fluid"
          alt="{{ character.name }}"
        />
      </div>
      <div class="col-md-8">
        <h2>{{ character.name }}</h2>
        <p>{{ character.description || 'No description available.' }}</p>
        <h4>Comics</h4>
        <ul>
          <li *ngFor="let comic of character.comics.items">{{ comic.name }}</li>
        </ul>
        <h4>Events</h4>
        <ul>
          <li *ngFor="let event of character.events.items">{{ event.name }}</li>
        </ul>
      </div>
    </div>
  </div>
  